{% extends "HexCollect/__base.html" %}

<!-- add title logic for username that dne -->
{% block title %}HexCollect | Terms and Conditions of Use{% endblock title %}

{% block content %}
	<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="user_agreement floating">
<h1 class="welcome-header">User Agreement</h1>
<p>The following terms constitute an agreement between you and HexCollect, the operator of www.hexcollect.com (the “Site”). This agreement governs your use of the Site, both as a casual visitor and a registered member as described below.</p>

<p>By accessing or using the Site, you agree to be bound by the terms of this Agreement. To the extent you register on the Site as a member, then in addition to the terms that are applicable to all users of the Site, the terms that apply only to members shall apply to you too.</p>

<h4>Membership Eligibility</h4>
<p>To become a member and access this Site you agree to respect the privacy and preserve the dignity of all community participants.</p>

<p>Children under the age of 13 are prohibited from registering as members. By registering as a member you represent that you are age 13 or older.</p>

<h4>This Site Does Not Provide Medical Advice</h4>
<p>All of the material provided on the Site, such as text, treatments, dosages, outcomes, charts, user profiles, graphics, photographs, images, advice, messages, forum postings, and any other material provided on the Site are for informational purposes only and are not a substitute for professional medical advice or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding your health. Never disregard professional medical advice or delay in seeking it because of something you have read on this Site.</p>

<p>If you think you may have a medical emergency, call your doctor or 911 immediately. HexCollect does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site. Reliance on any information provided by HexCollect, by persons appearing on the Site at the invitation of HexCollect, or by other members is solely at your own risk.</p>

<h4>Acceptable and Lawful Use of Site by Members</h4>
<p>Members shall not post or upload any information or other content on the Site that (a) is false, inaccurate or misleading; (b) is obscene or indecent; (c) infringes any copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy of any party; or (d) is defamatory, libelous, threatening, abusive, hateful, or contains pornography. Members shall not interfere with other members’ use and enjoyment of the Site (for example, by harassing, threatening, soliciting, overly promoting personal interests, or stalking another participant of a chat room, forum, seminar, or threaded message, including the use of expressions of bigotry, racism, hatred, or profanity). Members may not use the Site to conduct any activity that is illegal or violates the rights of others, provide instructional information about illegal activities, or promote physical harm or injury against any group or individual.</p>

<p>All members represent and warrant that the information they provided when registering as a member, and all information that they subsequently provide regarding themselves and their membership, is true and accurate and not misleading.</p>

<h4>Links to Other Websites</h4>
<p>HexCollect may contain links to other websites that are not under the control of HexCollect. The inclusion of any link does not imply endorsement by HexCollect of such site and HexCollect is not responsible for the content of such linked sites.</p>
				</div>
			</div> <!-- col -->
	</div> <!-- row -->

{% endblock content %}
