{% extends "HexCollect/__base.html" %}

{% load extras static %}

{% block title %}{{ blog_post.title }}{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="blog_post floating">
				<div class="blog_post_header">
					<h2 class="blog_post_title">{{ blog_post.title }}</h2>
					<span class="blog_post_pubdate">{{ blog_post.pub_date|date:"N j, Y" }}</span>
				</div>
				{{ blog_post.content|safe }}
			</div>
		</div>
	</div>
{% endblock content %}